on: push
name: Check & Release
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: lint
        uses: Roang-zero1/factorio-mod-luacheck@master
        with:
          LUACHECKRC_URL: https://raw.githubusercontent.com/Nexela/Factorio-luacheckrc/master/.luacheckrc
  release-github:
    runs-on: ubuntu-latest
    needs: [lint]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Create Factorio mod package
        uses: Roang-zero1/factorio-mod-package@master
      - name: Create GitHub release
        uses: Roang-zero1/github-create-release-action@master
        env:
          GITHUB_TOKEN: ${{ a1fec1cb2236df44ff4819cc4340218f34eddb80 }}
          UPDATE_EXISTING: "true"
          VERSION_REGEX: ^[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+
      - name: Tag Filter
        uses: actions/bin/filter@3c0b4f0e63ea54ea5df2914b4fabf383368cd0da
        with:
          args: tag
      - name: Upload GitHub artifacts
        uses: Roang-zero1/github-upload-release-artifacts-action@master
        env:
          GITHUB_TOKEN: ${{ a1fec1cb2236df44ff4819cc4340218f34eddb8 }}
        with:
          args: dist/
